/* Color Transition hover.css */
@keyframes colorChange {
  0% {
    color: inherit; /* Inherit the current color */
  }
  50% {
    color: #5CE1E6;
  }
  100% {
    color: magenta;
  }
}

.color-transition-container:hover h1,
.color-transition-container:hover h2,
.color-transition-container:hover h3 {
  animation: colorChange 2s infinite alternate; /* 2s duration, infinite loop, alternate direction */
}